{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>

    <!--The following 3 lines are CDNs from Google for the Roboto Font that will be used in the project-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- I removed the basic nav with links to home, login and register as I don't think they're needed in the 'base.html' file-->

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Sky Health Check 2025 </p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
